table {
    width: 100%;
    height: 50%;
    background-color: #f2f2f2;
  }
  
  td {
    padding-right: 8px;
  }
  .createButton{
    background-color: #52ab98;
    color: white;
    margin-right: 6px;
  }
  .mat-form-field{
      width: 100%;
  }
  .mat-icon{
    color: #2b6777;
}