.container{
    width: 100%;
}
.yesButton{
    background-color: #52ab98;
    color: white;
}
.cancelButton{
    background-color: coral;
    color: white;
}
.mat-dialog-content{
    font-size: medium;
    text-align: center;
}
.mat-dialog-title{
    text-align: center;
}