.body{
    width: 50%;
    box-sizing: border-box;
}
.mat-card{
    background-color: #52ab98;
    z-index: 0;
    color: black;
    margin-top: 10px;
}
.mat-card-title{
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
}
p{
    color: #f2f2f2;
    margin-left: 30px;
}
.name{
    color: #f2f2f2;
}
label{
    font-size:larger;
}