<mat-card>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <mat-card-title> Overview for <span class="name">{{data.storeDisplayName}}</span></mat-card-title>
  <mat-card-content>
    <mat-icon>label_important</mat-icon> <label> Merchant Code: </label>
    <p>{{data.merchantCode}}</p>
    <mat-icon>label_important</mat-icon><label> Store Code: </label>
    <p>{{data.storeCode}}</p>
    <mat-icon>location_on</mat-icon><label> Address: </label>
    <p>{{data.address}}</p>
    <mat-icon>contact_phone</mat-icon><label> Phone Number: </label>
    <p>{{data.phoneNumber}}</p>
    <mat-icon>email</mat-icon><label> Email </label>
    <p>{{data.email}}</p>
  </mat-card-content>
</mat-card>