.welcome{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin-left: 66%;
  margin-top: 100px;
  color: #2b6777;
  letter-spacing:25px;
  font-size: 50px;
  
}
.logo{
    margin-left: 55%;
    width: 600px;
}