/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
background-color: #b8d8e4;}
.wrapper{
    margin: 24px;
    width: 1024px;
    display: block;
}
.mat-dialog-container{
    background-color: #f2f2f2;
    
}
