<mat-toolbar color="primary" class="toolbar">
  <span class="example-spacer">Update information for <span class="name">{{storeCodeFormControl.value}}</span></span>

</mat-toolbar>

<br>
<br>
<br>
<br>
<br>
<br>
<mat-card class="example">

  <mat-card-content>
    <form class="example-form">
    <mat-form-field appearance="fill" class="field123">
      <mat-label>Store Code</mat-label>
      <input matInput [formControl]="storeCodeFormControl">
      <mat-icon matSuffix>circle</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field123">
      <mat-label>Merchant Code</mat-label>
      <input matInput [formControl]="merchantCodeFormControl">
      <mat-icon matSuffix>account_box</mat-icon> 
    </mat-form-field>


    <mat-form-field appearance="fill" class="field45">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="storeDisplayNameFormControl" required>
      <mat-icon matSuffix>store</mat-icon>
    </mat-form-field>
    <br>


    <mat-form-field appearance="fill" class="field45">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailFormControl" required>
      <mat-icon matSuffix>email</mat-icon> 
    </mat-form-field>
    <mat-form-field appearance="fill" class="field123">
      <mat-label>Address</mat-label>
      <input matInput [formControl]="addressFormControl">
      <mat-icon matSuffix>place</mat-icon> 
    </mat-form-field>

    <mat-form-field appearance="fill" class="field123">
      <mat-label>Phone Number</mat-label>
      <input matInput [formControl]="phoneNumberFormControl">
      <mat-icon matSuffix>phone</mat-icon> 
    </mat-form-field>



    <br>

    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button color="primary" mat-button (click)="backToList()">Back</button>
    <button color="primary" mat-button (click)="updateStore()">Save</button>
  </mat-card-actions>

</mat-card>